<!-- app/views/stocks/show.html.erb -->
<h1>Stock Details</h1>

<p>Store: <%= @stock.store.name %></p>
<p>Product: <%= @stock.product.name %></p>
<p>Quantity Available: <%= @stock.quantity %></p>
<!-- Add more stock-related information here -->
